<p>Congratulations! You’ve received 5 sign-ups and now qualify for one (1) raffle entry. Your chances, to be granted 25 CUNY Application Fee Waivers, have just gone up! Get 5 more sign-ups for another entry.</p>
