<% title "Confirm Destroy " + @gallery.title %>

<%= form_for :gallery, url: admin_gallery_path(@gallery), html: { method: :delete } do |f| %>
  <h3>Are you sure you want to permanently destroy <%= @gallery.title %>?</h3>
  <p>
    <%= button_tag "Destroy" %> or <%= link_to "cancel", admin_galleries_path %>
  </p>
<% end %>