<% title "My questions" %>

<% content_for :body_id do %> id="profile"<% end %>
<% content_for :body_class do %> class="centered suggest-ask"<% end %>

<%= content_for :header_caption do %>These are questions that people have asked you using the "Ask an Adviser" tool. Do your best to respond to each question within 48 hours. To stop receiving questions, or to change what type of questions we send you, please <a href="mailto:info@nyccollegeline.org">email us</a>.<% end %>
<%#= render "profile/shared/nav" %>

<h1>Contests</h1>
