<%= form_tag global_search_path, id: 'search-form', role: 'search' do |f| %>
  <input id="q" name="q" type="search" placeholder="Search hand-picked resources for getting into and staying in college" x-webkit-speech />
  <i class="ico-search"></i>
  <button type="submit" title="Search"><i class="ir">Search</i></button>
<% end %>