<p class="indent">
  <span class="handle"></span>
  <%= f.label :order, class: "inline" %> <%= f.text_field :order, class: 'micro order' %>
  <%= f.select :resource_id,
    options_from_collection_for_select(Resource.super_skinny.ordered, :id, :name, f.object.resource_id),
    {},
    class: 'chosen', data: { url: admin_resources_path } %>
  <a href="#" class="edit-chosen">Edit</a> - <%= f.link_to_remove "Remove" %>
</p>