#queue {
    margin:0; padding:0;
    li { background:none; }
}
.gallery-select .select { margin-bottom:10px; }

.popup .new_gallery {
    label { display:block; text-align:left; width:auto; }
    .indent { margin-left:0; }
}