<%= content_for :header_caption do %>This section allows you to add new resources and edit any resources that have been assigned to you. If something is not here and you believe it's an error, please contact <a href="mailto:info@nyccollegeline.org">info@nyccollegeline.org</a> and we'll sort it out pronto.<% end %>
<%#=  render "profile/shared/nav" %>