<% unless user_signed_in? %>
	<div class="block sign-in-resource sign-in no-mobile">
	  <i class="picon sign-in"></i>
	  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %> to save and organize resources
	</div>
<% end %>