<% unless user_signed_in? %>
<div class="block why-register sign-in">
  <a href="<%=  new_user_registration_path %>">
    <i class="picon why-signup">Why sign up?</i>
    Save + organize your favorite resources<br/>
    <span>Sign up now <i class="ico-right"></i></span>
  </a>
</div>
<% end %>