
<!-- 
<div class="modal fade" id="delaccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" style="max-width:400px;margin:auto;">          
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close green" data-dismiss="modal" aria-label="Close">&times;</button>
        <h4 class="modal-title" style="padding:0;">Are you sure to remove your account?</h4>
      </div>
      <div class="modal-footer">
        <button class="btn red" type="button">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
              </div>
                      
                    </div>
                  </div> -->

                  <% title "We hate to see you go!" %>

<section id="destroy-account">
  <%= form_for current_user, url: profile_settings_path, html: { method: :delete }, remote: true do |f| %>
    <h2>We hate to see you go!</h2>
    <p>Deactivating your account will lorem ipsum.</p>
    <button class="large red" type="submit">Delete my account</button>
    <a href="#" class="button green large" id="cancel-button">Cancel</a>
  <% end %>
</section>
<%= content_for :js do %>
<script>
$('#cancel-button').click(function(){ window.parent.OVRLY.cleanup(); });
</script>
<% end %>