<table width="500" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
  <tr><td colspan="2" height="80" style="border-collapse:collapse;"></td></tr>
  <tr>
    <td valign="top" style="border-collapse:collapse;" colspan="2">
      <p>Hello,</p>
      <p>You have a new comment on blog post.</p>
      <p>Blog Title: <b style='color: #ff5297;'><%= @blog_post_title %></b></p>
      <p>Comment made by user- <b style='color: #8fc047;'><%= @last_commenter %></b> <b style='color: #2bc1dc;'> : <%= @comment %></b></p>
      <p><p>
    </td>
  </tr>
  <tr><td height="80" style="border-collapse:collapse;" colspan="2"></td></tr>
</table>