// Colors
$background:#fff;
$default:#434343;
$link:#2bc1dc;
$hover:#0e7a8c;
$header:#424242;
$header-alt:#2bc1dc;
$highlight:#ff5297;
$placeholder:#7f7f7f;
$cite:#6f6f6f;
$babyblue:#c9e6eb;
$dark-gray: #353535;
$lightgray:#e2e2e2;
$body-gray:#f0f0f0;

// Sizes
$footer-height:323px;
$sub-footer-height:78px;
$width:960px;