@font-face {
    font-family: 'socicon';
    src: url(//gradnyc.s3.amazonaws.com/assets/socicon-webfont-a479bf7ed874182b19c072aa21d2a772.eot);
    src: url(//gradnyc.s3.amazonaws.com/assets/socicon-webfont.eot?#iefix) format("embedded-opentype"), url(//gradnyc.s3.amazonaws.com/assets/socicon-webfont-fd37761269d782d7936f5e9c3e5f85af.woff) format("woff"), url(//gradnyc.s3.amazonaws.com/assets/socicon-webfont-531f5f1b8c58ffa77607453818f211fe.ttf) format("truetype"), url(//gradnyc.s3.amazonaws.com/assets/socicon-webfont.svg#sociconregular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'cl';
    src: url(//gradnyc.s3.amazonaws.com/assets/cl-0fb73dacaba315a71190a6665fa10e19.eot)
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 9999999999;
    border-bottom: none !important;
}

.blinking{
    color: #4DB53C;
    display:block !important;
    width:100%;
    font-size:13px;
}

button.green{
    background-color: #b0d24a;
    color: #464646;
}
button.green:hover, .button.green:hover {
    background-color: #406618;
    color: #fff;
}
a:hover, a:focus {
    text-decoration: none; 
    color: #2bc1dc;
    background-color: transparent;
}
button.large, .button.large {
    height: 39px;
    font-size: 24px;
    line-height: 39px;
    /* text-shadow: -2px 1px 2px #fff; */
    filter: dropshadow(color=#fff, offx=-2, offy=0);
}

/*mobile search form*/
    #mobile-search-input {
        position: relative;
        width: 100%;
        z-index: 101
    }
    #mobile-search-input .input-group { padding: 10px 0px 10px 23px; }
 
 
    #mobile-search-input button {
        border: 0;
        background: none;
        padding: 0px 5px;
        left: -28px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#333;
         border: 0;
        line-height: 34px;

    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
/*mobile search form*/


       
 
/*header start */

#head-wrap-top {
    background: #e9f0f5;
    height: 44px;
    width: 100%;
}


#top-sub-nav ul { float: left; padding:0px; margin: 0;  }
#top-sub-nav li { float: left;list-style-type: none;background-image:none; padding: 0 25px 0px 0px; }
#top-sub-nav .account { float: right; position: relative; }
#top-sub-nav  a {
    height: 44px;
    line-height: 44px;
    display: block;
    color: #2b2b2b;
    padding:0px 10px;
    border-bottom: 0px;
    float: left;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.top-right a.ask-an-adviser {  background: #b0d153; }
#top-sub-nav  a.ask-an-adviser:hover {
    background: #406618;
    color: #fff;
}

.top-right a.hdrsignup , .top-right a.hdrlogin, a.hdrnotify{     background-color: #2bbde8; }
.top-right a.hdrnotify { padding-right : 7px !important; }
.top-right a.hdrlogin { padding-right : 0 !important; }
.top-right a.desktop-search {         
    padding: 0;
    width: 34px;
    text-align: center;
    background-color: black;
    color:#fff !important;
}

.desktop-search-form { 
    display: none;
    position: absolute;
    top: 0; right: 34px;

}

.desktop-search-form  input[type="search"] {
    width: 100%;
    border: 0;
    float: left;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
     -webkit-appearance: none;
    height: 44px;
}

.desktop-search-form .input-wrap-new {
    width: 328px;
}


#mainheader {
    background: #353535;
    width: 100%;
        border: none;
    border-radius: 0;
    margin-bottom: 0;
}
#mainheader #logo { padding:0; margin-left: 0; }

#main-menu>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

#main-menu>li>a:hover, .top-left li a:hover, #footer a:hover
{
    color: #2bc1dc !important;
    background-color: transparent;
}

.main-sub-menu {
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    color: #353535;
    background-color: #c9e6eb;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
        /*width: 164px;*/

}
.main-sub-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom:  1px dashed #2fa0b5;
}
.main-sub-menu li.search a { border-bottom: none; }

.main-sub-menu li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding-left:0;
}
.open>.main-sub-menu { display: block; }
.main-menu li:hover .main-sub-menu {
  display: block;
}
.main-sub-menu>li>a:hover {
    background: #2bc1dc !important;
    color: #353535 !important;
    border-color: transparent;
}
.mobile-nav  { 
    border-radius: 0px;
    border: none; 
    margin-right: 10px; 
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
}
.mobile-nav i { font-size: 20px; color: #fff; }


@media only screen  and (min-width : 992px) {
#section-1 .container {  }
#section-1 .nnn {
   display:table;
form#mobile-search-input {
    display: none;
}   

}
 #section-1 #explore-left,  #explore-right { 
 display:table-cell;
 vertical-align:middle;
  height: 460px;
  float:none;
 }

#mainheader { height: 120px; padding: 10px 0px; }
#mainheader .navbar-header { margin:10px 0px; }
#main-menu { margin:25px 0px; float: right; }
#mainheader .navbar-collapse { padding-right: 0; }
#mainheader ul li{ background-image:none !important; }
.tbarfix {top:0 !important; }
}




@media only screen  and (max-width : 991px) {

    #mainheader .container {
        width: 100%;
    }
    #logo {
        
        margin-top:5px;

    }
    #logo  img {
        max-width: 100%;
        max-height: 100%
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
     .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-right: 60%;
    }
    .navbar-nav>li {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .tbarfix {display:none !important; }
    #toolbar { top:112px !important;}
}

/*header end*/

/*slider start*/
#slider { position: relative; display: block;height: auto;     margin: 0 !important;}
#slider img { width:100%; }

/*slider end*/


/*section 1*/



#explore-right h1 {
    color: #353535;
    font-size: 42px;
    line-height: 1.3;
    padding: 0 0 20px;
    font-weight: 600;
}
#section-1 section.quicklinks {
    text-align: left;
}
#section-1 section.quicklinks a.quicklink {
    display: inline-block;
    width: auto;
    padding: 1% 1.5%;
    margin: 1%;
    text-align: center;
    background: #b0d153;
    color: #383e27;
    border: none;
    font-size: 18px;
    font-weight: 700;
}
/*#section-1 section.quicklinks a.quicklink:last-child { margin-right: 0 !important; }*/
#section-1 section.quicklinks a.quicklink:hover {
    background-color: #406618;
    color: #fff;
}

/*end section 1*/


/*section 2*/
/*section 2*/
#section-2  { background:url('/assets/find_program_bg.jpg')  repeat; }

#section-2 .loc_img {
    margin-right: 2%;     height: 65px;
}
.loc_img img { max-height: 100%; max-width: 100%; }
#section-2 h2 {
    color: white;
    font-size: 26px;
    padding:10px 0px;
    margin:0;
}
#section-2 .caption {
    font-size: 16px;
    padding-bottom: 8px; color: white;
}
.localprogram {
    display: block;
    width: calc(100% - 50px);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
button.btn-localprog {
    height: 34px;
    background: #157a8c;
    color: #fff;
    border-radius: 0;
    padding: 0 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     div.btn-file{
        left: 16% !important;
    }

   }

@media (min-width: 768px) {
    #section-2 .bubbles {height: 150px; }
    #section-2 .row { display:table;width:100%;}
    
    #section-2 #progleft, #progright {
        display:table-cell;
        vertical-align:middle;
        float:none;
        height:150px;

    }

    div.btn-file{
        position: absolute;
        top: 80% !important;
        color: #353535 !important;
        float: left;
        left: 13%;
    }

    .fileUpload input.imgupload {
        left: 0 !important;       
    }


    .lfolder:nth-child(3n+1) {
        clear: left;
    }
    .foldesc {
    max-width:236px; 
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    }
}

/*end sec2*/

/*section 3 start*/
#section-3  {
    margin-top: 2%;
}
#section-3 .block {
    float: left;
    font-size: 20px;
    margin: 0 0 20px;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
}
#section-3 .block.new {
    width: calc(100% / 3) !important;
    background: none;
    text-align: center;
}
.block.blue {
    color: #4d4d4d;
    display: block;
    /* font-size: 16px; */
    /* font-weight: 600; */
    line-height: 1.5;
    margin: 0 0 20px 0;
    padding: 14px;
    position: relative;
}
.block.blue strong {
    color:#4d4d4d !important; display: block; font-size: 18px;padding: 15px 0px;
}
.learn_more {
    font-size: 23px;
    text-transform: uppercase;
    background-color: #c8e5e8 !important;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    display: none;
    height: 100%;
}
.learn_more p {
    position: relative;
    padding:0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.block_desc span { display: none; }
a.new:hover .learn_more {  display: block; }




/*end sec3*/


/*footer*/

#footer img { max-width: 100%; }
#topfooter { 
   background-color: #3d3d3d;
   padding: 0 0 30px;
 }
#topfooter h3  {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color:#efefef;
    border-bottom: 1px solid #000;
        padding-bottom: 10px;
}
#topfooter .desc {
    color: #efefef;
    float: left;
    line-height: 1.7;
    padding-top: 15px;
    position: relative;
    font-size: 13px;
    opacity: 0.7;
    text-align: justify;
}
#topfooter a { border-bottom: 0px;color: inherit; display: block;}
.ftrcol.languages.lg .desc { display: table; width:80%; }
.langleft, .langryt { display: table-cell; }
.langleft { text-align: left; }
.langryt { text-align: right; }

 #midfooter { 
    background-color: #2e2e2e; padding:15px 0px;
 }
 #bottomfooter { padding: 20px 0px; }
 .copyright {
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 600;
  }
#midfooter a { color:white; border-bottom: 1px solid #fff; opacity: 0.6 }
.socialicon {
    font-size: 27px;
    padding-right: 5%;
    color: #fff !important;
    float: left;
}
.ftrlogo, .ftrcol { float: left; padding: 10px; }
.ftrlogo.sm { width:20%; }
.ftrlogo.lg, .ftrcol.lg { width:30%; }
.ftrcol.more.sm { width:15%; }
.ftrcol.contact.sm { width:25%; }

/*end footer*/


/*profile page*/

.card {

    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 254px;
     position: relative;
}
.twPc-bg {
    background-image:url("profilebanner.jpg");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 175px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.card.hovercard .avatar img {
    max-width: 130px;
    max-height: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
#profilesection h3 {
    margin: 0;
    padding: 0;
}

.proname {
    position: absolute;
    bottom: 37%;
    left: 200px;
    font-size: 40px;
}

.profilepic {
    background-color: transparent;
    display: inline-block;
    float: left;
    margin: -75px 35px 0px;
    max-width: 100%;
    vertical-align: bottom;
}


.card.hovercard h3 {
    font-weight: 600;
    color: #fff;
}

.card.hovercard .infoo  {
    font-size: 16px;
    line-height: 21px;
    opacity: 0.8;
    font-weight: 100;
      padding:10px 0;
    margin: 0 auto;
    max-width: calc(100% - 370px);
    width: 100%;
    float: left;
}
.avatarmob img {
    width: 100px;
    height: 100px;
    float: none;
    margin: 0 auto;
    clear: both;
    border-radius: 50%;
    display:block;
}
.checkver {
        background: #4cae4c;
    border-radius: 50%;
    font-size: 30px;
    padding: 6px;
    margin-left: 13px;
}
.progrsbar {
        float: right !important;
    margin: -75px 50px 0 0 !important;
}

div.btn-file {
  position: absolute;
  right: 20px;
  top:10px;
  color:#fff;
}
.camra { margin:0; font-size: 20px;}
.camra:hover {
    color: #353535;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.imgupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.docUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.docUpload input.imgupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.del { float: right; margin-right: 10px;}

/*content page*/

.listing-tab, .tab-content {
    padding-top:20px; 
    background-color:#fff;
    padding-bottom: 20px;
    overflow: hidden;      
}

.listing-tab .nav-tabs>li>a { 
    border:0;
    color:#b3b3b3;
    margin-right:15px;
    text-transform: uppercase;
    font-size:15px;
}

.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none;}
.listing-tab .nav-tabs>li>a:hover{border-color:none;color:#45c9de;}
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none; outline:none;}
.listing-tab .nav-tabs>li.active>a  { 
    border-bottom:3px solid #45c9de;
    color:#45c9de;
}




.listing-tab .tab-content ul{padding:0;margin:0;}
.listing-tab .tab-content ul li {
  /*  list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
    padding-left: 20px;
    font-size: 13px;
    color: #666;  */
    background: none;
    
}
.listing-tab .tab-content ul li a:hover{text-decoration:none; color:#666;}
.listing-tab .tab-content ul li .resource-bookmark{position: relative; border-top:0; padding:0px;}
.listing-tab .tab-content ul li span{display:inline-block;float:left;padding-right:10px;}
span.actions {float:none !important; }
.listing-tab .tab-content ul li:hover{cursor:pointer;text-decoration:none;}
.lfolder {
    padding: 0px 20px 20px 0px;
    width: calc(100% / 3 );
    float: left;
    margin: 0 auto 10px;
}
.lfolder form { width:80%;padding-top:15px;}

.foldesc {
    font-size: 16px;
    padding: 10px 15px;
    line-height: 25px;
}
.fol {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 0 3px;
}
.foledit { background-color: #b3d448; }
.foldel { background-color: #cf4e13; }
.folnew {
    color: #45c9de;
    text-decoration: underline;
}


/*setting panel*/
#lsetting form label, .nwform label, .lheading{ 
    display: block; 
    text-transform: uppercase;    
    margin-bottom: 10px; 
    font-weight: 700;
    color: #5c5c5c;
}
#lsetting .checkbox label { 
    color: #666666;
    text-transform: none;
}


span.hint {
    font-style: italic;
    display: block;
    padding: 0 0 20px;
    color: #8a8a8a;
}
span.hint.hintl { display: inline-block; }
#lsetting  .green {
    padding: 0px 22px;

}
#lsetting .carousel-control {
    border: none;
    color: #b0d24a;
    font-size: 48px;
    background: none;
    top: 20%;
}

hr {
    border-color: #dcdcdc;
    margin: 0 auto;
    width: 172px;
}
#lsetting .or {
    background: #fff;
    display: block;
    margin: -10px auto 10px;
    text-align: center;
    width: 32px;
    margin-top: 60px;
}

#folder-header a{ margin-right:15px; margin-bottom:10px; }

#pCarousel img:focus, #pCarousel img:hover { border: 2px solid #406618; }

#folder-email button { margin-top:0 !important;}
/* delpopup*/
#delaccount .modal-dialog {
    max-width:400px;
    margin:auto;
    margin-top:20%;
}
#myModal .modal-dialog{
  position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 0 10px;
    width: 100%;
    margin: 0px;
    max-width: 600px;
}

#delaccount .modal-header .close {
    opacity: 1;
    background-color: #b0d24a;
    color: #434343;
    font-size: 30px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    margin: 0;
    border-radius: 0;
}
#delaccount .modal-header .close:hover {
    background-color: #406618;
    color: #fff;
}
.modal-title { font-size:20px; color:#ff5297;}


/*profile page end */


@media (max-width: 991px) {
  
  #explore-left { text-align: center;margin-top:25px; }
  #explore-right { text-align: center;margin-bottom:25px; }
  #section-1 section.quicklinks {  text-align: center; }
  #section-1  { height: auto; }
  #explore-right h1 { font-size: 35px; }
  .proname { font-size: 30px; }
  .listing-tab .nav-tabs>li>a { margin-right: 13px; }
  .card { height:270px; }
  .proname { bottom:40%; }
  .card.hovercard .infoo { font-size:14px; }

}


@media (max-width: 767px) {
  #mainheader #logo , button.pl { margin-left: 15px; } 
  #main-menu > li > a { font-size:12px; padding:0 0 5px;}
  .main-sub-menu >li >a {  padding:5px 15px;  border:0;}
  .main-sub-menu { font-size: 11px; }
  #section-1 section.quicklinks a.quicklink { font-size: 24px; display: block; margin: 1.5% auto; padding: 0.3em; }
  .bubbles { padding: 20px; }
  #explore-right h1 { font-size: 24px; }
  #progright {     -webkit-margin-after: 0.83em; }

   #section-3 .block.new { width: 100% !important; }
  #sub-nav { display: none; }
  /*footer*/
  .ftrcol.sm, .ftrcol.lg, .ftrcol.contact.sm, .ftrcol.more.sm { width:50%; }
  .ftrcol.languages.lg { clear:left; }
  /*profile*/
  #profilesection { padding: 0; }
  .card { height: 290px; }
    .twPc-bg { height: 210px; }
    .avatarmob { padding: 30px 0px; }
    .card.hovercard .infoo  { padding: 5px 0px 5px 10px; max-width: calc(100% - 110px); font-size: 14px; }
    .progrsbar { margin: -42px 20px 0 0 !important;  }
    #ppwd { margin-bottom: 20px; }

    .nav-tabs>li { float:none; display: block; }
    .lfolder { width:50%; float: left; }
    .lfolder:nth-child(2n+1) { clear: left; }
    span.hint.hintl { display: block; padding: 10px 0px; }
    #resource_body_tbl { width:100% !important;}
    #delaccount .modal-dialog { margin-top:10%; }

}

@media (max-width: 597px) {
#section-2 h2 { font-size: 20px; margin: 5px 0px; }
#section-2 .caption { font-size: 15px;  padding-bottom: 10px; }
 #section-2 .loc_img { height: 50px !important; }
.ftrlogo { width:100%; text-align:center; }
.ftrcol { width:100% !important; }
    .lfolder { width:100%; text-align: center;  }
    .lfolder img { display: inline;  }
    .featured-folder-promo-container { margin:0 auto;}
    .card { height:320px;}
    .blinking { overflow:hidden; clear:both; max-width:100%;font-size:11px;}
}

@media only screen  and (max-width : 768px) {
 /* .item, .active{width: 375px; height: 175px;}  
  .item img, .active img{ position: relative; display: block;width:100%; height: 100%; margin: 0 !important;}
*/
.carousel-inner > .item{width: 100%;}
.carousel-inner>.item>a>img{width: 100% !important; height: 100% !important}
    /* .del { float: left; } */

}

.popopen {
    overflow:hidden;
}

.srvyhelp {
  font-size: 16px;
  padding: 0 10px;
}



