/* These appear on the FAQ page and Phase pages*/
#faqs {
  padding-bottom:38px;
  h2 {
    padding-top:0;
  }

  > ul {
    margin:0;
    padding:0;

    > li {
      background:none;
      margin:0 0 10px;
      padding:0;

      > a {
        border-bottom:1px solid #b4c389;
        color:#6a8714;
        font-size:14px;
        line-height:1.3;

        &:hover,
        &.on {
          border-color:#8FC047;
          color:#8FC047;
        }
      }
    }
  }

  div {
    display:none;
    line-height:1.5;
    padding:10px 0 16px;

    p {
      padding-bottom:10px;
    }
  }
}

#faq {

  #content-top {
    width:100%;
  }

  #faqs {
    h2 {
      color:#424242;
      font-size:39px;
    }

    h3 {
      border-top:1px dashed #c9c9c9;
      color:#2bc1dc;
      font-size:17px;
      padding:20px 0 16px;
    }

    hr {
      border-color:#dfdfdf;
    }

    ul {
      margin-bottom:30px;
    }
  }
}

#faq-nav {
  margin-bottom:66px;

  > ul > li {
    border-top:2px solid #353535;
    float:left;
    margin:0 0 0 19px;
    padding-top:4px;
    width:140px;

    &:first-child {
      margin:0;
    }

    > a {
      color:#424242;
      display:inline-block;
      padding-bottom:10px;
      text-transform:uppercase;
    }
  }

  li {
    margin-bottom:4px;
  }

  a {
    font-weight:700;
  }
}

